:root {
    --primary-color: #8ecae6;  /* Sky blue */
    --secondary-color: #219ebc;  /* Blue green */
    --accent1-color: #023047;  /* Prussian blue */
    --accent2-color: #ffb703;  /* Selective yellow */
    --text-color: #000000;  /* Black */
    --background-color: #ffffff;  /* White */
}

/* Global Styles */
body {
    font-family: 'Noticia Text', serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--background-color);
}

header .logo {
    height: 50px;
}

header nav a {
    color: var(--background-color);
    text-decoration: none;
    margin: 0 1em;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: var(--text-color);
}

.hero-img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2em 2.9em;
    color: var(--background-color);
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 8px;
    width: 40%;
    text-align: left;
    
}

.hero article img {
    float: right;
    width: 150px;
    margin-left: 1em;
}

/* Sections */
section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    text-align: left;
}

section h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1em;
}

/* Adventure Images */
section img {
    width: 100%;
    margin: 0.5%;
    border-radius: 8px;
}


/* Footer */
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 1em;
}

footer p {
    margin: 0.5em 0;
}

footer .sociallinks a {
    margin: 0 0.5em;
}

footer .sociallinks img:hover {
    transform: scale(1.1);
}

/* Remove text-decoration from social media image links */
footer .sociallinks a {
    text-decoration: none;
}